@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
body{
    background-color:  #66FCF1;
    font-family: "Roboto Slab";
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #1F2833;
    margin-bottom: 10px;
}
li {

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.center {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -50px;
}​
#name{
     font-size: 22px;
}

/* Color schemes:
 #0B0C10 Black
 #1F2833 Gray ish
 #C5C6C7 Alsost White
 #66FCF1 Light Blue
 #45A29E The darkest of the blue


 *