body{
    background-color: lightgrey;
}

#player{
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 50%;
    position: absolute;
    transition:0s;

}

#sjokomelk {
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 50% ;
    position: absolute;
}

#moxnes {
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 50%;
    position: absolute;

}

.button {
    border-radius: 5px;
    background: green;
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button:hover{
    filter: brightness(1.4);
    cursor: pointer;
}

.tekst{
    border: none;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: green;
}

.info{
    font-size: 24px;
}

.level{
    padding: 0px 0px
}

